
<h1 style="text-align: center; color: rgb(212, 44, 44);"> SamGloriousTech Working Status </h1>
<div class="container py-5">
  <div class="row">
      <div class="col-md-10 mx-auto">
          <form  [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <table class="table table-danger" formArrayName="worksort">
              <tr *ngFor="let worksort of works().controls; let i=index" [formGroupName]="i">
              <div class="form-group row">
                  <div class="col-sm-1">
                      <label for="inputSno">sno</label>
                      <input type="number" class="form-control" id="inputsno" formControlName="sno">
                      <!-- #myserial   (keydown.enter)="OnInput(myserial.value)" -->
                  </div>
                  <div class="col-sm-2">
                      <label for="inputDeveloper">Developer</label>
                      <input type="text" class="form-control"id="inputdeveloper"formControlName="developer" placeholder="Enter Developer name"
                      #myNameElem >
                      <!-- (blur)="blurEvent($event)"  -->
                  </div>
                  <div class="col-sm-3">
                    <label for="inputTitle">Title</label>
                    <input type="text" class="form-control" id="inputtitle"formControlName="title" placeholder="Enter title"  
                    >
                </div>
                <div class="col-sm-3">
                  <label for="inputdate">Date</label>
                  <input type="date" class="form-control"id="input-date" formControlName="date">
              </div>
              <div class="col-sm-3">
                <label for="inputHours">Hours</label>
                <input type="number" class="form-control" id="inputhours"formControlName="hours">
            </div>
              </div>
              <div class="form-group row">
                  <div class="col-sm-3">
                      <label for="inputstatus">Status</label>
                      <select formControlName="status" class="form-control" id="input-status">
                        <option value="">Please choose an Status</option>
                        <option value="Process">Process</option>
                        <option value="Pending">Pending</option>
                        <option value="Completed"> Completed</option>
                        <option value="Notstartd"> Not Started</option>

                        
                
                    </select>
                  </div>
                  <div class="col-sm-3">
                      <label for="inputAssignee">Assignee</label>
                      <select formControlName="assignee"  class="form-control"id="inputassignee">
                        <option value="">Please choose an Assignee</option>
                        <option value="Arockia">Arockia</option>
                        <option value="George">George</option>
                        <option value="Siva">Siva</option>
                      
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <label for="inputReporter">Repoted by</label>
                    <select formControlName="reporter"  class="form-control"id="inputreporter">
                      <option value="">ReporterBy</option>
                      <option value="Arockia">Arockia</option>
                      <option value="George">George</option>
                      <option value="Siva">Siva</option>
                    
                  </select>
                </div>
                <div class="col-sm-3">
                  <label for="inputCity">Defects</label>
                  <select formControlName="defects"  class="form-control"id="inputdefects">
                    <option value="">--Choose Defects--</option>
                    <option value="Major">Major</option>
                    <option value="Minor">Minor</option>
                    <option value="Difficult">Difficult</option>
                  
                </select>
              </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12">
                  <label for="inputCity">Description</label>
                  <textarea type="text" class="form-control" id="inputdes" formControlName="description" placeholder="Enter description"></textarea>
              </div>
              </div>
              <!-- <button (click)="removeWorks(i)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>               -->
            </tr>
            
             
          </table>
          <button type="button" (click)="addWorks()" class="btn btn-primary" [disabled]="click"><i class="fas fa-plus"></i>Add</button>
         
         
          <button type="button" class="btn btn-success" (click)="save()">save</button>
          <!-- <button type="submit" class="btn btn-success" (click)="exportexcel()">excel</button> -->
          <button type="reset" class="btn btn-success" (click)="next()">Next</button>

          </form>
         
      </div>

  </div>

</div>
<table class="table table-striped" id="show">
 
  <thead class="thead-dark">
    <tr>
    <th>Serialno</th>
    <th>Developer</th>
    <th>Title</th>
    <th>Date</th>
    <th>Hours</th>
    <th>Status</th>
    <th>Assignee</th>
    <th>Reported By</th>
    <th>Defects</th>
    <th>Description</th>

  </tr>
</thead>

</table> 
<button type="submit" class="btn btn-success" (click)="exportexcel()">excel</button>

<!-- {{this.productForm.value | json}} -->
 <!-- updateForm.get('quota').value -->